{% extends "layout.html" %}
{% block content %}
<div class="aero-col m6" style = "max-width:800px"></div>
    <form action="/cpfromvelocity.html" method="POST">
        <div class="aero-row-padding" style="margin:0 -16px 18px -16px">
            
            <input class="aero-input aero-border" type="text" placeholder="Velocity" name="velocity" required><br>Velocity(m/s)</div>
        <div class="aero-row-padding" style="margin:0 -16px 18px -16px">
            
            <input class="aero-input aero-border" type="text" placeholder="VelocityInf" name="velocityinf" required><br>Velocity at Freestream(m/s)</div>

        <div class="aero-row-padding" style="margin:0 -16px 8px -16px">
            <button class="aero-button aero-black aero-section" type="submit">Calculate</button></div></form>
    {% if cp %}
<div class="aero-row-padding" style="margin:0 -16px 8px -16px"><p>The Coefficient of Pressure is {{cp}}</p></div>
</div><a href="/cpfromvelocity.html">
    <button class="aero-button aero-black aero-section">Calculate Again</button></a></div>
{% endif %}
{% endblock content %}
