{% extends "layout.html" %}
{% block content %}
<div class="aero-col m6" style = "max-width:800px"></div>
    <form action="/dragcoefficient.html" method="POST">
        <div class="aero-row-padding" style="margin:0 -16px 18px -16px">
            <input class="aero-input aero-border" type="text" placeholder="Drag Force" name="dragforce" required><br>Drag Force (kg m/s^2)</div>
        
        <div class="aero-row-padding" style="margin:0 -16px 18px -16px">
            <input class="aero-input aero-border" type="text" placeholder="Dynamic Pressure" name="dynamicpressure" required><br>Dynamic Pressure (kg/m s^2)</div>
        
        <div class="aero-row-padding" style="margin:0 -16px 18px -16px">
            <input class="aero-input aero-border" type="text" placeholder="Surface Area" name="surfacearea" required><br>Surface Area (m^2)</div>
        
        
        <div class="aero-row-padding" style="margin:0 -16px 8px -16px">
            <button class="aero-button aero-black aero-section aero-right" type="submit">Calculate</button></div>
        
    </form>
    

</div>
<div class="aero-row-padding aero-col m6" style="margin:10 -16px 8px -16px"><a href="/dragcoefficient.html">
    <button class="aero-button aero-black aero-section aero-right">Calculate Again</button></a></div>

    {% if dragcoefficientvalue %}
    <p>Your Drag Coefficient is {{dragcoefficientvalue}} </p>
    {% endif %}

    <div class="aero-row-padding aero-col m6" style="margin:10 -16px 8px -16px"><a href="/dynamicpressure.html"><br>Click here to calculate Dynamic Pressure<br><br></a></div>


{% endblock content %}

