{% extends "layout.html" %}
{% block content %}
<div class="aero-col m6" style = "max-width:800px"></div>
    <form action="/liftdragfromnormalaxialcoeff.html" method="POST">
        <div class="aero-row-padding" style="margin:0 -16px 18px -16px">
            <input class="aero-input aero-border" type="text" placeholder="Normal Force Coefficient" name="normalcoeff" required><br>Normal Force Coefficient (kg m/s^2)</div>
        
        <div class="aero-row-padding" style="margin:0 -16px 18px -16px">
            <input class="aero-input aero-border" type="text" placeholder="Axial force Coefficient" name="axialcoeff" required><br>Axial Force Coefficient (kg m/ s^2)</div>
        
        <div class="aero-row-padding" style="margin:0 -16px 18px -16px">
            <input class="aero-input aero-border" type="text" placeholder="Angle Of Attack" name="angle_of_attack" required><br>Angle Of Attack (in Degrees)</div>
        
        
        <div class="aero-row-padding" style="margin:0 -16px 8px -16px">
            <button class="aero-button aero-black aero-section aero-right" type="submit">Calculate</button></div>
        
    </form>
    

</div>

    {% if liftcoeff or dragcoeff %}
    <p>The value of Coefficient of Lift produced is {{liftcoeff}}</p>
    <p>The value of Coefficient of Drag produced is {{dragcoeff}}</p>

    {% endif %}

<div class="aero-row-padding aero-col m6" style="margin:10 -16px 8px -16px"><a href="/liftdragfromnormalaxialcoeff.html">
        <button class="aero-button aero-black aero-section aero-right">Calculate Again</button></a></div>

{% endblock content %}

