{% extends "layout.html" %}
{% block content %}
<div class="aero-col m6" style = "max-width:800px"></div>
    <form action="/pressureunderliquid.html" method="POST">
        <div class="aero-row-padding" style="margin:0 -16px 18px -16px">
            <input class="aero-input aero-border" type="text" placeholder="Atmospheric Pressure value" name="pressure_atmospheric" required><br>Atmospheric Pressure (Pa)</div>
        
        <div class="aero-row-padding" style="margin:0 -16px 18px -16px">
            <input class="aero-input aero-border" type="text" placeholder="Density" name="density" required><br>Density (kg/m^3)</div>
        
        <div class="aero-row-padding" style="margin:0 -16px 18px -16px">
            <input class="aero-input aero-border" type="text" placeholder="Depth" name="depth" required><br>Depth at which the pressure is to be calculated (m)</div>
        
        <div class="aero-row-padding" style="margin:0 -16px 18px -16px">
            <input class="aero-input aero-border" type="text" placeholder="Acceleration due to Gravity" name="acceleration_gravity"required><br>Acceleration due to Gravity (m/s^2) </div>
        
        <div class="aero-row-padding" style="margin:0 -16px 8px -16px">
            <button class="aero-button aero-black aero-section aero-right" type="submit">Calculate</button></div>
        
    </form>

</div>
{% if pressure %}
<p>Your Pressure at the depth is {{pressure}} </p>
{% endif %}

<div class="aero-row-padding aero-col m6" style="margin:10 -16px 8px -16px"><a href="/pressureunderliquid.html">
    <button class="aero-button aero-black aero-section aero-right">Calculate Again</button></a></div>
<br>

{% endblock content %}