{% extends "layout.html" %}
{% block content %}
<div class="aero-col m6" style = "max-width:800px"></div>
    <form action="/reynolds.html" method="POST">
        <div class="aero-row-padding" style="margin:0 -16px 18px -16px">
            <input class="aero-input aero-border" type="text" placeholder="Density" name="density" required><br>Density (kg/m^3)</div>
        
        <div class="aero-row-padding" style="margin:0 -16px 18px -16px">
            <input class="aero-input aero-border" type="text" placeholder="Velocity" name="velocity" required><br>Velocity(m/s)</div>
        
        <div class="aero-row-padding" style="margin:0 -16px 18px -16px">
            <input class="aero-input aero-border" type="text" placeholder="Linear Dimension" name="linear" required><br>Linear Dimension (m)</div>
        
        <div class="aero-row-padding" style="margin:0 -16px 18px -16px">
            <input class="aero-input aero-border" type="text" placeholder="Viscosity" name="viscosity"required><br>Viscosity (kg/m*s)</div>
        
        <div class="aero-row-padding" style="margin:0 -16px 8px -16px">
            <button class="aero-button aero-black aero-section aero-right" type="submit">Calculate</button></div>
        
    </form>

</div>
{% if reynoldsnumbervalue %}
<p>Your Reynold's Number is {{reynoldsnumbervalue}} </p>
{% endif %}

<div class="aero-row-padding aero-col m6" style="margin:10 -16px 8px -16px"><a href="/reynolds.html">
    <button class="aero-button aero-black aero-section aero-right">Calculate Again</button></a></div>
<br>


{% endblock content %}